﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Vehicles</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Project</h2>
        <p>
            Made by Marko Grubesa 2019.
        </p>
    </div>
    
</div>