﻿@model PagedList.IPagedList<Project.Service.ViewModels.VehicleMakeViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{ 
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "VehicleMakes", FormMethod.Get))
    {
        <b>Search by: </b>@Html.RadioButton("searchBy", "Name", true) <text>Name</text>
        @Html.RadioButton("searchBy", "Abrv") <text>Abrv</text>
        <br />
        @Html.TextBox("search") <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>
        <th>
            
            @Html.ActionLink("Name", "Index", new { searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = ViewBag.NameSortParm })
          
        </th>
        <th>
           
            @Html.ActionLink("Abrv", "Index", new { searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"], sortBy = ViewBag.AbrvSortParm })
            
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abrv)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new {page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
new PagedListRenderOptions() {Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true }
)